{% load static %}
<!DOCTYPE html>
<html>

<link rel="stylesheet"  href={% static 'css/dashboard.css' %}>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body onload="pagestart();">
<div class="sidebar">

    <ul>
        <li><a href="templates/send_email.html">1.Compose Message</a></li>
        <li><a href="#">2.Check Box</a></li>
        <li><a href="#">3.Sent mail</a></li>
        <li><a href="#">4.Logout</a></li>
        <li id="search-bar" align="right">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>


    </ul>
</div>

