
{% load static %}
<html>
<head>
    <link rel="stylesheet" href={% static 'css/homepage.css' %}>
</head>
<body>
    <h2>{{ msg }}</h2>
</body>
</html>
<!--
<html>
<head>
    <link rel = "stylesheet" href = {% static 'css/inbox.css' %}>
    <link rel = "stylesheet" href = {% static 'css/dashboard.css'%}>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <div class="mail-box">
            <aside class="sm-side">
                <div class="user-head">
                   
                </div>
            </aside>
    <aside class="lg-side">
        <div class="inbox-head">
            <h3>Inbox</h3>
            <form action="#" class="pull-right position">
                <div class="input-append">
                    <input type="text" class="sr-input" placeholder="Search Mail">
                    <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <table class="table table-inbox table-hover">
        <tbody>
            <tr class="unread">
                <td class="inbox-small-cells">
                    <input type="checkbox" class="mail-checkbox">
                </td>
                <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                <td class="view-message  dont-show">sapana subedi</td>
                <td class="view-message ">Project</td>
                <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                <td class="view-message  text-right">8:15 AM</td>
            </tr>
            <tr class="unread">
                <td class="inbox-small-cells">
                    <input type="checkbox" class="mail-checkbox">
                </td>
                <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                <td class="view-message dont-show">Google Webmaster </td>
                <td class="view-message">Improve the search presence of WebSite</td>
                <td class="view-message inbox-small-cells"></td>
                <td class="view-message text-right">1 Aug</td>
            </tr>
            <tr class="">
                <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox"></td>
            <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
            <td class="view-message dont-show">Mark from kaggle</td>
            <td class="view-message">Airbus competition launch</td>
            <td class="view-message inbox-small-cells"></td>
            <td class="view-message text-right">31 Jul</td>
             </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
        <td class="view-message dont-show">Sunim Acharya</td>
        <td class="view-message">Embedded notes</td>
        <td class="view-message inbox-small-cells"></td>
        <td class="view-message text-right">22 Jul</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
        <td class="view-message dont-show">Freelancer.com <span class="label label-danger pull-right">urgent</span></td>
        <td class="view-message">Stop wasting your visitors </td>
        <td class="view-message inbox-small-cells"></td>
        <td class="view-message text-right">18 Jul</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
        <td class="view-message dont-show">WOW Slider </td>
        <td class="view-message">New WOW Slider v7.8 - 67% off</td>
        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
        <td class="view-message text-right">2 Jul</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
        <td class="view-message dont-show">LinkedIn Pulse</td>
        <td class="view-message">The One Sign Your Co-Worker Will Stab</td>
        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
        <td class="view-message text-right">30 Jun</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
        <td class="view-message dont-show">suman subedi<span class="label label-success pull-right">megazine</span></td>
        <td class="view-message view-message">Notes</td>
        <td class="view-message inbox-small-cells"></td>
        <td class="view-message text-right">12 Jun</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
        <td class="view-message dont-show">Facebook</td>
        <td class="view-message view-message">Somebody requested a new password </td>
        <td class="view-message inbox-small-cells"></td>
        <td class="view-message text-right">10 Jun</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
        <td class="view-message dont-show">Skype <span class="label label-info pull-right">family</span></td>
        <td class="view-message view-message">Password successfully changed</td>
        <td class="view-message inbox-small-cells"></td>
        <td class="view-message text-right">23 May</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
        <td class="view-message dont-show">Google+</td>
        <td class="view-message">alireza, do you know</td>
        <td class="view-message inbox-small-cells"></td>
        <td class="view-message text-right">18 May</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
        <td class="dont-show">sunita gajurel</td>
        <td class="view-message">class diagrams</td>
        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
        <td class="view-message text-right">4 May</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
        <td class="view-message dont-show">LinkedIn </td>
        <td class="view-message">Alireza: Nokia Networks, System Group and </td>
        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
        <td class="view-message text-right">28 April </td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
        <td class="dont-show">Facebook</td>
        <td class="view-message view-message">Your account was recently logged into</td>
        <td class="view-message inbox-small-cells"></td>
        <td class="view-message text-right">5 April</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
        <td class="view-message dont-show">Twitter</td>
        <td class="view-message">Your Twitter password has been changed</td>
        <td class="view-message inbox-small-cells"></td>
        <td class="view-message text-right">29 March</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
        <td class="view-message dont-show">InternetSeer Website Monitoring</td>
        <td class="view-message">http://golddesigner.org/ Performance Report</td>
        <td class="view-message inbox-small-cells"></td>
        <td class="view-message text-right">3 March</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
        <td class="view-message dont-show">AddMe.com</td>
        <td class="view-message">Submit Your Website to the AddMe Business Directory</td>
        <td class="view-message inbox-small-cells"></td>
        <td class="view-message text-right">23 Feb</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
        <td class="view-message dont-show">suman subedi</td>
        <td class="view-message view-message">Airline reservation.png</td>
        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
        <td class="view-message text-right">17 Feb</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
        <td class="view-message dont-show">Bertina </td>
        <td class="view-message">IMPORTANT: Don't lose your domains!</td>
        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
        <td class="view-message text-right">2 Feb</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
        <td class="view-message dont-show">Laura Gaffin, S P N </td>
        <td class="view-message">Your Website On Google (Higher Rankings Are Better)</td>
        <td class="view-message inbox-small-cells"></td>
        <td class="view-message text-right">16 Jan</td>
    </tr>
    <tr class="">
        <td class="inbox-small-cells">
            <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
        <td class="view-message dont-show">Facebook</td>
        <td class="view-message view-message">Alireza Zare Login faild</td>
        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
        <td class="view-message text-right">12 Jan</td>
    </tr>
</tbody>
</table>
</aside>
</div>
</div>
</aside>
</body>
</html>
-->