{% load static %}
<html>
<head>
    <link rel="stylesheet" href={% static 'css/homepage.css' %}>
</head>
<body onload="pagestartup();">
<h2>{{ status }}</h2>
<div class="content">
    <div class="title">VOICE BASED EMAIL</div>
    <div class="title">SEND EMAIL</div>
    <form action="" method="POST">
        {% csrf_token %}
        <input id="to_email" name="to_email" type="text" placeholder="To: E-mail"/>
        <input id="subject" name="subject" type="text" placeholder="Subject" style="margin-bottom: 5%"/>
        <textarea rows="7" cols="63" name="message" id="message" placeholder="Enter your message here"
                  class="text-box"></textarea>
        <button type="submit" class="sign-in-button" id="signin">Send Email</button>
    </form>
</div>
{#<script src='https://code.responsivevoice.org/responsivevoice.js'></script>#}
{#<script src="{% static 'js/homepage.js' %}"></script>#}
</body>
</html>