{% load static %}
<html>
<head>
    <link rel = "stylesheet" href = {% static 'css/inbox.css' %}>
    <link rel = "stylesheet" href = {% static 'css/dashboard.css'%}>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
     <div class="mail-box">
                      <aside class="sm-side">
                          <div class="user-head">
                             
                          </div>
                      </aside>
                      <aside class="lg-side">
                          <div class="inbox-head">
                              <h3>Sent Mail</h3>
                              <form action="#" class="pull-right position">
                                  <div class="input-append">
                                      <input type="text" class="sr-input" placeholder="Search Mail">
                                      <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                                  </div>
                              </form>
                          </div>
                              <table class="table table-inbox table-hover">
                                <tbody>
                                  <tr class="unread">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message  dont-show">To:bcc:subedisapana10</td>
                                      <td class="view-message ">hey</td>
                                      <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                      <td class="view-message  text-right">7:10 AM</td>
                                  </tr>
                                  <tr class="unread">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message dont-show">To:bcc:sunita.gajurel49 </td>
                                      <td class="view-message">Assignment</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">2 Aug</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message dont-show">To:bcc:sumansubedi62</td>
                                      <td class="view-message">Support</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">31 Jul</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message dont-show">To:bcc:sunimacharya.54</td>
                                      <td class="view-message">os assignment</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">22 Jul</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                                      <td class="view-message dont-show">To:bcc:subedisapana10</td>
                                      <td class="view-message">os assignment</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">22 Jul</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                                      <td class="view-message dont-show">To:bcc:erdhunagana</td>
                                      <td class="view-message">Assignment</td>
                                      <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                      <td class="view-message text-right">17 Jul</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                                      <td class="view-message dont-show">To:bcc:saragamsubedi</td>
                                      <td class="view-message">(no subject)</td>
                                      <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                      <td class="view-message text-right">30 Jun</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message dont-show">To:bcc:beyondthehorizon</td>
                                      <td class="view-message view-message">(no subject)</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">12 Jun</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message dont-show">To:bcc:manishparajuli</td>
                                      <td class="view-message view-message">Homework</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">10 Jun</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message dont-show">To:bcc:akinos.ericon</td>
                                      <td class="view-message view-message">(no subject)</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">23 May</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                                      <td class="view-message dont-show">To:bcc:sunita.gajurel49</td>
                                      <td class="view-message">Software</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">18 May</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                                      <td class="dont-show">To:bcc:sunimacharya.54</td>
                                      <td class="view-message">photos</td>
                                      <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                      <td class="view-message text-right">4 May</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message dont-show">To:bcc:subedisapana10</td>
                                      <td class="view-message">Report</td>
                                      <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                      <td class="view-message text-right">28 April </td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="dont-show">To:bcc:subedisapana10</td>
                                      <td class="view-message view-message">English</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">5 April</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message dont-show">To:bcc:gautammerina3/td>
                                      <td class="view-message">Computer Graphics project</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">29 March</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message dont-show">To:bcc:shreeya_dangol</td>
                                      <td class="view-message">(no subject)</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">3 March</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                                      <td class="view-message dont-show">To:bcc:akinos.ericon</td>
                                      <td class="view-message">Assignment</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">23 Feb</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message dont-show">To:bcc:subedisapana10</td>
                                      <td class="view-message view-message">project</td>
                                      <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                      <td class="view-message text-right">17 Feb</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message dont-show">To:bcc:sumansubedi62</td>
                                      <td class="view-message">IMPORTANT</td>
                                      <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                      <td class="view-message text-right">2 Feb</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                                      <td class="view-message dont-show">To:bcc:sujan</td>
                                      <td class="view-message">CG project</td>
                                      <td class="view-message inbox-small-cells"></td>
                                      <td class="view-message text-right">16 Jan</td>
                                  </tr>
                                  <tr class="">
                                      <td class="inbox-small-cells">
                                          <input type="checkbox" class="mail-checkbox">
                                      </td>
                                      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                      <td class="view-message dont-show">To:bcc:subedisapana10</td>
                                      <td class="view-message view-message">proposal</td>
                                      <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                      <td class="view-message text-right">12 Jan</td>
                                  </tr>
                              </tbody>
                              </table>
                          </div>
                      </aside>
                  </div>
</body>
</html>