body{
    margin:0px;
     background: url("https://www.deviantart.com/ult-gfx/art/Boter-Flowers-122194776");
    background-size: cover;
}
.sidebar{
    width: 100%;
    background: #000033;
    height: 100px;
    margin-top: 0px;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
}

li{
    float: left;
    margin-top: 50px;
}
a{
    top-right: 0px;
    width:250px;
    color: white;
    display:block;
    text-decoration: none;
    font-size: 20px;
    text-align:center;
    padding:5px;
    border-radius:10px;
    font-family: century gothic;
    font-weight:bold;
}
input[type=text] {
    width: 100px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 15px 12px 25px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: center;
}

input[type=text]:focus {
    width: 50%;
}


